@{
    ViewData["Title"] = "Szyfrowanie";
}

<div class="text-center">
    <h1 class="display-4">Szyfr Cezara</h1>
    <p>Prosta aplikacja webowa do szyfrowania i odszyfrowywania.</p>

    <li class="non">
        <a class="text-dark button" asp-area="" asp-controller="Home" asp-action="Szyfrowanie">Szyfrowanie</a>
    </li>
    <li class="non">
        <a class="text-dark button" asp-area="" asp-controller="Home" asp-action="DeSzyfrowanie">Odszyfrowanie</a>
    </li>
</div>
